.bar{
    float: left;
}
.boutonav1{
    height: 100%;
    font-size: 20px;
}
.boutonav2{
    height: 100%;
    font-size: 20px;
}
.image{
    background-image: url("/home/enzo/clonageBNF/image/fondBNF.png");
    background-size: cover;
    z-index: -1

}
.fond{
    background-image: url("/home/enzo/clonageBNF/image/fondBNF.png");
    filter: (50px);
    background-repeat: repeat;
}
.zindex{
    z-index: 2;
}
